/*.madd_2, .madd_246 {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 3px;
}

.hamzat_wasl {
  background-color: rgba(255, 128, 0, 0.2);
}

.lam_shamsiyyah {
  background-color: rgba(255, 0, 0, 0.2);
}*/
.madd_2 { color: #537FFF; }
.madd_246 { color: #4050FF; }
.hamzat_wasl { color: #AAAAAA; }
.lam_shamsiyyah { color: #AAAAAA; }
.silent { color: #AAAAAA; }
.qalaqah { color: #DD0008; }
.ghunnah { color: #FF7E1E; }
.ikhafa { color: #9400A8; }  
