.madd_2, .madd_246 {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 3px;
}

.hamzat_wasl {
  background-color: rgba(255, 128, 0, 0.2);
}

.lam_shamsiyyah {
  background-color: rgba(255, 0, 0, 0.2);
}

