.ayah {
  margin-bottom: 1rem;
  font-size: 28px;
  direction: rtl;
  text-align: justify;
  font-family: 'Scheherazade', serif;
}
.pageNavigator
{
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0%;
}