.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
.mat-mdc-radio-button .example-radio-button .mat-accent .mat-mdc-radio-checked .cdk-focused .cdk-mouse-focused 
{
  box-shadow: none !important;
  outline: none !important;
}
mat-mdc-radio-button example-radio-button mat-accent mat-mdc-radio-checked cdk-focused cdk-mouse-focused
{
  box-shadow: none !important;
  outline: none !important;
}